[Desktop Entry]
Name=Twenty Five and Five
Comment=It is just pomodoro
Categories=System;Utility
Exec=twenty-five-and-five
Icon=pomodoro-indicator
Keywords=distrobox;
Terminal=false
TryExec=/usr/bin/distrobox
Type=Application
